<div class="row">
    <div class="col-md-6">
      <div class="banner banner-overlay">
        <a href="#">
          <img src="images/demos/demo-14/banners/banner-2.jpg" alt="Banner img desc">
        </a>

        <div class="banner-content">
          <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Hottest Deals</a></h4><!-- End .banner-subtitle -->
          <h3 class="banner-title text-white"><a href="#">Detox And Beautify <br>For Spring <br><span>Up To 20% Off</span></a></h3><!-- End .banner-title -->
          <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
        </div><!-- End .banner-content -->
      </div><!-- End .banner -->
    </div><!-- End .col-md-6 -->

    <div class="col-md-6">
      <div class="banner banner-overlay">
        <a href="#">
          <img src="images/demos/demo-14/banners/banner-3.png" alt="Banner img desc">
        </a>

        <div class="banner-content">
          <h4 class="banner-subtitle text-white d-none d-sm-block"><a href="#">Deal of the Day</a></h4><!-- End .banner-subtitle -->
          <h3 class="banner-title text-white"><a href="#">Headphones <br><span>Up To 30% Off</span></a></h3><!-- End .banner-title -->
          <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
        </div><!-- End .banner-content -->
      </div><!-- End .banner banner-overlay -->
    </div><!-- End .col-md-6 -->
  </div><!-- End .row -->