  <!-- Plugins JS File -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.hoverIntent.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/superfish.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/bootstrap-input-spinner.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.plugin.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <!-- Main JS File -->
  <script src="/js/main.js"></script>
  <script src="/js/demos/demo-14.js"></script>
  <script>

    

document.getElementById("loginForm").addEventListener("submit", async function (e) {
    e.preventDefault();

    const formData = new FormData(this);

    const response = await fetch("/logins", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: new URLSearchParams(formData)
    });

    const data = await response.json();

    if (!data.success) {
        document.getElementById("errorMsg").innerText = data.message;
    } else {
        window.location.href = "/dashboard";
    }
});
</script>


</body> 
<!-- Mirrored from portotheme.com/html/hscode/index-14.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Nov 2020 20:46:54 GMT -->
</html>