<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%-pageTitle-%></title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="hscode - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.html">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="hscode">
    <meta name="application-name" content="hscode">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skins/skin-demo-14.css">
    <link rel="stylesheet" href="/css/demos/demo-14.css">
    <style>
     .header-search-wrapper {
  position: relative;
  overflow: visible;
}

.header-search-wrapper .search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  z-index: 99999;
  max-height: 300px;
  overflow-y: auto;
}

.header-search-wrapper .search-results p {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

.header-search-wrapper .search-results p a {
  display: block;
  text-decoration: none;
  color: #000 !important;   /* ✅ BLACK TEXT */
  font-weight: 500;
}

.header-search-wrapper .search-results p:hover {
  background: #f2f2f2;
}

.header-search-wrapper .search-results p:hover a {
  color: #000 !important;
}


    </style>      
</head>