<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="admin_assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Rocker</h4>
    </div>
    <div class="toggle-icon ms-auto">
      <i class='bx bx-arrow-back'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class='bx bx-home-alt'></i>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
      <ul>
       <!--  <li>
          <a href="/getUsers">
            <i class='bx bx-user'></i>User Setting </a>
        </li> -->
        <li> <a href="/getUsers"><i class="bx bx-user"></i>Users</a>
        </li>
        <li> <a href="/add-role"><i class="bx bx-radio-circle"></i>Roles</a>
        </li>
        
      </ul>
         <li>
          <a href="/add-cat">
            <i class='bx bx-cog'></i>Category Setting</a>
        </li>
		    <li>
          <a href="/add-banner">
            <i class='bx bx-cog'></i>Banner Setting</a>
        </li>
        <li>
          <a href="/products">
            <i class='bx bx-cog'></i>Products</a>
        </li>
         <!-- <li>
          <a href="/add-role">
            <i class='bx bx-cog'></i>Role</a>
        </li> -->
		    <li>
          <a href="/add-countries">
            <i class='bx bx-cog'></i>Countries</a>
        </li>
        
      </ul>
    </li>
   
    
  </ul>

  <!--end navigation-->
</div>